@import url(./fonts.css);
@import url(./variables.css);
@import url(./mediaQuery.css);

/* 1° Observação: Grid, Flexbox ou Flex, é uma série de comando para Responsividade no CSS, pois ajusta o layout da página  */
/* 2° Observação: paddding: Margem Interna - margem: Margem Externa - border: Linha de Divisão. */
/* 3° Observação: 1rem é == 16px */

/* Formatação CSS relacionada por TAG. */
body {
    padding: 0px;
    margin: 0px;
    border: 0px;
    font-family: var(--fonte-text);
}

form {
    padding: 2rem;
    border-radius: 8px;
    /* display: flex;
    flex-direction: column; */
    text-align: left;
    background-color: var(--cor-cinza-light);

}

label {
    font-family: var(--fonte-text);
    font-size: 1.4rem;
}

/* Formatação relacionada por ID(#).*/
#topo {
    background-color: var(--cor-cinza-medio);
    color: var(--cor-branco);
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    padding: 26px 14px;
}

#container {
    text-align: center;
    font-family: var(--font-titulo);
}

#end {
    background-color: var(--cor-cinza-dark);
    color: var(--cor-branco)
}


/* Formatação relacionada por Classes (.). */
.topo {
    font-size: 26px;
    font-family: var(--font-titulo);
    padding-right: 24px;
    display: flex;
    justify-content: end;
}

.imgLogotipo {
    width: 220px;
}

.LayoutMenu {
    text-align: right;
}

.itemMenu {
    list-style: none;
}

.linkMenu {
    text-decoration: none;
    color: var(--cor-branco);
    transition: 0.5s;
}

.linkMenu:hover {
    color: var(--cor-laranja-vermelho);

}

.imgUser {
    width: 320px;
    border-radius: 50%;
}

.boxForm {
    margin: 3rem;
}


.formLogin,
.formCadastro {
    gap: 0.8rem;
}

.campLogin,
.campCadastro {
    height: 35px;
    width: 100%;
    font-size: 1rem;
    margin-bottom: 1.2rem;
    outline: none;
    border: none;
    border-radius: 2.6px;
}

.btnLogin {
    width: 145px;
    height: 40px;
    outline: none;
    border: none;
    border-radius: 2.6px;
    background-color: var(--cor-azul);
    color: var(--cor-branco);
    font-size: 18.5px;
    cursor: pointer;
}

.btnCadastrar {
    width: 145px;
    height: 40px;
    outline: none;
    border: none;
    border-radius: 2.6px;
    background-color: var(--cor-verde);
    color: var(--cor-branco);
    font-size: 18.5px;
    cursor: pointer;
}

.btnLogin:hover {
    background-color: #000ba3;

}

.btnCadastrar:hover {
    background-color: var(--cor-verde-dark);

}

.end {
    padding: 3.4rem 0rem;
    text-align: center;
    font-family: var(--font-texto);
    font-size: 18px;
}

.imgLogotipoEnd {
    width: 80px;
    height: 80px;
    border-radius: 6px;
}